/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


/* Custom bootstrap variables must be set or imported *before* bootstrap. */

@import "bootstrap";

/* Import scss content */

@import "**/*";
#navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

#navbar .navbar-brand {
    padding-right: 5em;
}

#navbar .nav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navbar #login {
    padding-left: 25em;
    padding-top: .5em;
}

#navbar #cart {
    padding-top: .5em;
}

.header-site {
    background-color: #022b1a;
    height: 200px;
    text-align: center;
}

.header-img {
    height: 200px;
    width: 220px;
    // background-position-y: 50%;
    // background-position-x: center;
}

body { 
    background-color: white;
}

// .header-site {
//     background: url('hhttps://lh3.googleusercontent.com/DPFYyakJc5BjDoFmaOC4tyxvqS7udeSYBle73RA4IX3W1ZiiOBkuFQrtysqk-pg1cqhttdmnss62Hyj_YndPRIT5_zAauL99MCY-fL-pdz2XSe14oCdPLViEtW5QynkyyTrPfG3HKA=w2400');
//     // background-color:  #022b1a;
//     // background-repeat: no-repeat;
//     // background-position: center center;
//     // -webkit-background-size: cover;
//     // -moz-background-size: cover;
//     // -o-background-size: cover;
//     background-size: cover;
//     padding-bottom: 15%;
// }