/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


/* Custom bootstrap variables must be set or imported *before* bootstrap. */

@import "bootstrap";

/* Import scss content */

@import "**/*";
#navbar {
    background-color: #022b1a;
    display: flex;
    justify-content: space-between;
    border-top: white;
    border-top-style: solid;
}

#navbar .navbar-brand {
    padding-right: 5em;
}

#navbar .nav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navbar #login {
    padding-left: 25em;
    padding-top: .5em;
}

#navbar #cart {
    padding-top: .5em;
}

html body {
    background-image: url('https://lh3.googleusercontent.com/qutYFKzq0_peiBt0neGlJ5dMtd7nwLLX1a24GIVsXC_R5FJ0J5cCckWiF6CvOLUFg3fXV581aqRScrzdCjlzyl39LubJkfFmynQUA3ruMZFF1h_lEF1atWd6VfT8F6-s_cMC7wxh-Q=w2400'); 
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Exo', sans-serif;
}

.header-site {
    background-color: #022b1a;
    height: 202px;
    text-align: center;
    padding-bottom: 1px;
}

.header-img {
    height: 200px;
    width: 220px;
}

body { 
    margin: 40px;
}

footer {
    text-align: center;
    background-color: #022b1a;
    padding: 25px;
}

.footer {
    margin: auto;
    width: 500px;
    height: 50px;
    display: inline-block;
}

.page-container {
    display: table;
    min-height: 100px;
    width: 100%;
    background-color: #022b1a;
    opacity: 0.8;
}

.page {
    text-align: center;
    font-family: 'Righteous', cursive;
    display: table-cell;
    vertical-align: middle;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}