<div class="product-page-container">
  <h1 class="product-header"><u>All products</u></h1>

  <% category_id = params[:category_id] %>
  <% if category_id %>
    <% category = Category.find_by(id: category_id) %>
    <% @products = category.products %>
  <% end %>
  <div class="product-wrapper">
  <% @products.each do |product| %>
    <div class="box-wrapper">
      <div class="box">
      <%= image_tag(product.photo_url, size: "200x200") %>
      <br>
      <%= link_to product.name, product_path(product.id) %>
      </div>
    </div>
  <% end %>
  </div>
</div>