<div class="product-page-container">
  <div class="product-header-container">
    <h1 class="product-header">Products</h1>
  </div>
  <% category_id = params[:category_id] %>
  <% if category_id %>
    <% category = Category.find_by(id: category_id) %>
    <% @products = category.products %>
  <% end %>
  <div class="product-wrapper">
  <% @products.each do |product| %>
    <% if !product.retired %>
      <div class="box-wrapper">
        <div class="box">
        <%= link_to image_tag(product.photo_url, size: "200x200"), product_path(product.id) %>
        <br>
        <%= link_to product.name, product_path(product.id) %>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>