<section>
  <h2><%= @product.name.upcase %></h2>
</section>

<section>
  <p>Stock: <%= @product.stock %></p>
  <p>Price: <%= @product.price %></p>
  <p><%= button_to "Add item to cart", new_product_orderitem_path(product_id: @product.id), method: :get %></p>
</section>
